#welcome-pane {
    text-align: center;
}

#message-pane {
    text-align: center;
}

#board {
    display: table;
    margin : 10px auto;
}
.column {
    height: 270px;
    width: 42px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    border: 1px dotted #AAAAAA;
    padding: 2px;
}
.disc {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #666666;
    font-size: 10px;
    line-height: 40px;
    margin-bottom: 2px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px; /* future proofing */
    -khtml-border-radius: 22px; /* for old Konqueror browsers */
}